<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Map Display</title>
</head>
<body>
    <h1>Tester map thing</h1>
  {% for index in range(len) %}
  <iframe
    width="600"
    height="400"
    frameborder="0" style="border:0"
    referrerpolicy="no-referrer-when-downgrade"
    src={{maps[index]}}
    allowfullscreen>
  </iframe>
  <p>
    Distance: {{data[index][0]}}
    time: {{data[index][1]}}
    Stops: {{data[index][2]}}
  </p>
</br>
  {% endfor %}
  <!-- <iframe
    width="600"
    height="400"
    frameborder="0" style="border:0"
    referrerpolicy="no-referrer-when-downgrade"
    src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyDE2qaxHADLeBQO1zLqfDIasLOalcHWHi0&origin=Abingdon+School,Faringdon+Lodge,Abingdon+OX14+1BQ&destination=Abingdon+School,Faringdon+Lodge,Abingdon+OX14+1BQ&waypoints=20+Parsons+Mead,Abingdon,Oxfordshire|8+Morgan+Vale,Abingdon,Oxfordshire"
    allowfullscreen>
  </iframe> -->
<br />
<p><a href="/reset">Reset maps and route data</a></p>
</body>
</html>